<div class="all-medications">
  <%= link_to "Back", :back %>
  
  <div id="all-medications-title">
    <h1> All Medications</h1>
  </div>

  <div class="cards-container">
    <% @medications.each do |medication| %>
      <div class="medication-index-card">
        <h2><%= link_to "#{medication.name.upcase}", medication_path(medication) %></h2>
        <p><strong>Dose:</strong> <%= medication.dose %></p>
        <p><strong>From</strong>  <%= medication.start_date %> <strong>To</strong> <%= medication.end_date %></p>

        <div class="d-flex justify-content-end" data-controller="sweet-alert" data-sweet-alert-medication-name-value="<%= medication.name %>">
          <%= link_to "", medication_path(medication), data: { turbo_method: :delete, sweet_alert_target: "link" }, class: "hidden" %>
          <button data-action="click->sweet-alert#popUp" class="trash-can">
            <%= image_tag "trash.png" %>
          </button>
        </div>

      </div>
    <% end %>

    <div class="btn-add-medication">
      <a><%= link_to "Add Medication", new_medication_path %></a>
    </div>

  </div>

</div>
