
<div class="add-medication-container">
  <div class="add-medication-card">
    <%= link_to "Back", :back %>
    <div class="card-content">
      <div class="image-title">
        <h1>Add Medication</h1>
        <%= image_tag "pills.svg" %>
      </div>
        <%= simple_form_for(@medication) do |f| %>
          <%= f.input :name %>
          <%= f.input :dose %>
          <%= f.input :start_date %>
          <%= f.input :end_date%>
          <%= f.input :intake_times, label: 'Time',
                      as: :select,
                      collection: ["12:00am"] + (1..11).map {|h| "#{h}:00am"}.to_a + ["12:00pm"] + (1..11).map {|h| "#{h}:00pm"}.to_a,
                      input_html: { multiple: true, class: "time-selector" },
                      include_hidden: false %>
          <%= f.input :interval, label: 'Weekdays',
                      as: :select,
                      collection: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
                      input_html: { multiple: true, class: "interval-selector" },
                      include_hidden: false %>
          <%= f.input :comment %>
          <%= f.submit class: "btn-save-medication" %>
        <% end %>
    </div>
  </div>
</div>
