<h2><%= @medication.name %></h2>
<p><%= @medication.start_date %></p>
<p><%= @medication.end_date %></p>
<p><%= @medication.dose %></p>
<p><%= @medication.intake_times %></p>
<p> <%= @medication.interval %></p>
<p> <%= @medication.comment %></p>

<p><%= link_to "Back to all medications", medications_path %></p>
