<h2><%= @medication.name %></h2>
<p><%= @medication.start_date %></p>
<p><%= @medication.end_date %></p>
<p><%= @medication.dose %></p>

<p><%= link_to "Back to all medications", medications_path %></p>
