<div class="show-individual-medication">
  <div class="show-title-h1">
    <h1>Your Intakes</h1>
  </div>
  <div class="link-all-medications">
    <%= link_to "See All Medications", medications_path %>
  </div>
    <div class="show-content">
      <a><%= link_to 'Back', medications_path(@medication) %></a>
      <h1><%= @medication.name %></h1>
      <p>Duration: <%= @medication.start_date %> - <%= @medication.end_date %></p>
      <p>Dose: <%= @medication.dose %></p>
      <p>Intakes: <%= @medication.interval %> - <%= @medication.intake_times %></p>

      <div class="comment-box">
        <p>Comments:</p>
        <p><%= @medication.comment %></p>
      </div>

      <div class="btn-add-medication">
        <a><%= link_to "Add Medication", new_medication_path %></a>
      </div>
    </div>
</div>
