<% content_for :meta_title, "#{@medication.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @medication.description %>
<% content_for :meta_image, cl_image_path(@medication.photo.path) %>

<div class="show-individual-medication">

    <div class="show-content">
      <%= link_to "Back", :back %>

      <div class="show-iage-doc">
        <%= image_tag "undraw_scientist_re_6v28.svg" %>
      </div>

      <h1><%= @medication.name.upcase %></h1>

      <h5>DURATION:</h5>
      <p><%= @medication.start_date %> - <%= @medication.end_date %></p>

      <h5>DOSE:</h5>
      <p><%= @medication.dose %></p>

      <div class="comment-box">
        <p>Comments:</p>
        <p><%= @medication.comment %></p>
      </div>

      <div class="btn-add-medication">
        <a><%= link_to "Add Medication", new_medication_path %></a>
      </div>
    </div>
</div>
