<div class="show-individual-medication">
  <div class="link-all-medications">
    <%= link_to "See All Medications", medications_path %>
  </div>
    <div class="show-content">
      <a><%= link_to 'Back', medications_path(@medication) %></a>
      <h1><%= @medication.name %></h1>

      <h5>Duration:</h5>
      <p>Start: <%= @medication.start_date %>  End: <%= @medication.end_date %></p>

      <h5>Dose:</h5>
      <p><%= @medication.dose %></p>

      <h5>Weekdays:</h5>
      <p><%= @medication.interval %></p>

      <h5>Interval Times:</h5>
      <p><%= @medication.intake_times %></p>

      <div class="comment-box">
        <p>Comments:</p>
        <p><%= @medication.comment %></p>
      </div>

      <div class="btn-add-medication">
        <a><%= link_to "Add Medication", new_medication_path %></a>
      </div>
    </div>
</div>
