<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <div class="pocket-nurse-text-logo">
      <%= link_to "Pocket Nurse", home_path %>
    </div>

    <% if user_signed_in? %>
      <div class="nav-item dropdown">
        <%= image_tag "user_portrait.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end custom-navbar-menu" aria-labelledby="navbarDropdown">
          <div class="links-container">
            <h5>Hi, User</h5>
            <h5>Here is your Menu</h5>
            <%= link_to "Home", home_path, class: "dropdown-item" %>
            <%= link_to "Your Intakes", intakes_path, class: "dropdown-item" %>
            <%= link_to "All Medications", medications_path, class: "dropdown-item" %>
            <%= link_to "Add Medication", new_medication_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </div>
    <% end %>
  </div>
</div>
