<div class="intake-card <%= intake.complete ? "active" : "" %>" data-controller="complete update-complete" data-action="click->complete#taken">
  <%= link_to intake_path(intake), data: { turbo_method: "PATCH", action: "click->update-complete#swapCard" } do %>
    <div class="tick-off-circle">
      <i class="fa-solid fa-check"></i>
    </div>
  <% end %>
  <h4><%= intake.medication.name %></h4>
  <p>Dose: <%= intake.medication.dose %></p>
  <p>Time: <%= intake.expected_intake.strftime("%H:%M") %></p>
</div>
