<div class="intake-card <%= intake.complete ? "active" : "" %>" data-controller="update-complete" data-action="click->complete#taken">
  <%= link_to intake_path(intake), data: { turbo_method: "PATCH", action: "click->update-complete#swapCard" }, class: "tick-off-circle" do %>
    <i class="fa-solid fa-check"></i>
  <% end %>
  <h4><%= intake.medication.name %></h4>
  <p>Dose: <%= intake.medication.dose %></p>
  <p><%= intake.expected_intake.strftime("%H:%M") %></p>
</div>
